div {
    padding: 24px;
    text-align: center;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

.alfredo-recipe-link {
    background-color: burlywood;
}

.katsu-recipe-link {
    background-color: chocolate;
}

.sushi-recipe-link {
    background-color: darkkhaki;
}

.alfredo-recipe {
    background-color: rgb(159, 25, 236);
}

.katsu-recipe {
    background-color: rgb(207, 120, 20);
    color: whitesmoke;
}

.sushi-recipe {
    background-color: rgb(255, 192, 208);
}